/* components from https://codemyui.com/cool-to-warm-gradient-color-for-unordered-list-numbers-in-pure-css/ */
body {
	height: 100vh;
	display: grid;
	align-items: center;
	justify-content: center;
	background-color: antiquewhite;
}

main {
	border: 1px solid rgba(200, 200, 200, 0.9);
	background-color: rgba(200, 200, 200, 0.2);
	width: 500px;
}

h2 {
	text-align: center;
}

ol {
	padding: 0;
	margin: 2rem;
}

li {
	display: grid;
	align-items: center;
	padding: 0.5rem 0;
	box-sizing: border-box;
	max-width: 400px;
}

/* li::before {
	content: "Entry";
	font-size: 1.3rem;
	font-weight: 700;
	text-align: right;
	width: 50px;
	padding: 0.25rem;
	font-variant-numeric: tabular-nums;
	background-image: linear-gradient(to bottom, aquamarine, orangered);
	background-attachment: fixed;
} */

li + li {
	border-top: 1px solid rgba(100, 100, 100, 0.5);
}

li a {
	text-decoration: none;
	font-family: consolas, sans-serif;
	font-size: 0.9rem;
}
