main {
    background-color: rgb(122, 173, 175);

}

blockquote {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-size: 16px;
    line-height: 32px;
    font-family: Trebuchet MS, sans-serif;
    color: black;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: whitesmoke;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header,
main,
footer,
nav {
    margin: 1.25rem auto;
    padding: .25rem 1.5rem .5rem;
    max-width: 900px;
}

header,
footer,
footer a {
    text-align: center;
    background-color: rgb(29, 94, 94);
    color: whitesmoke;
}

nav {
    text-align: center;
    background-color: rgb(201, 182, 157);
    color: whitesmoke;
}

nav a {
    padding: 10px;
    margin: 10px;
}

footer {
    font-size: 0.75rem;
}

ul li ul li {
    list-style-type: none;
}